/* .fondo-form{
    background: rgba(226,226,226,0.2);
    background: rgba(248,80,50,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
    border-radius: 34px 34px 34px 34px;
    border: 0px solid #000000;
    box-shadow: -1px -2px 18px 1px rgba(0,0,0,0.2);
} */
.fondo-form input{
    border-style: none;
    border-bottom: 2px solid rgba(46, 46, 46, 0.658);
}
.form-check-input{
    border: 1px solid  rgba(46, 46, 46, 0.658) !important;
}
.text-white{
    text-shadow: 0.1em 0.1em 0.05em rgba(88, 88, 88, 0.6);
    font-size: 3rem;
}
.img-form{
    height: 75vh;
    border-radius: 0 0 50px 50px;
}